.visually-hidden {
  position: absolute;
  width: 1px;
  min-width: initial;
  height: 1px;
  min-height: initial;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  word-wrap: normal;
  min-width: 320px;
  color: #122659;
  background-color: #fefcfa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.button {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 166px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-radius: 35px;
  padding-top: 15px;
  color: #122659;
  background-color: #ffd787;
  border: 1px solid transparent;
  transition: box-shadow 0.4s, border 0.4s, background-color 0.4s, color 0.4s;
}

.button:focus {
  color: rgba(254, 185, 204, 1);
  box-shadow: 0 0 0 2px rgba(88, 121, 232, 0.7);
  background-color: rgba(255, 122, 80, 0.1);
}



.button:active {
  color: rgba(254, 185, 204, 1);
  background-color: rgba(254, 185, 204, 0.10);
  box-shadow: none;
  border: none;
}

.animation {
  border-radius: 5px;
  transition: text-decoration 0.3s, box-shadow 0.3s, text-shadow 0.3s;
}

.animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 215, 135, 0.70);
  color: #122659;
}

.animation:active {
  text-shadow: 2px 2px 5px rgba(18, 38, 89, 0.50);
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  top: -100px;
  width: 100%;
  z-index: 20;
  transition: all .2s ease;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__block {
  display: flex;
  padding-top: 40px;
  padding-bottom: 38px;
  width: 85.65%;
  min-width: 1170px;
  max-width: 1440px;
}

.header__toggle {
  display: none;
}

.header__logo {
  margin-right: 4.87%;
}

.header__wrapper {
  display: flex;
  width: 82.9%;
  min-width: 970px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  width: 45.04%;
  min-width: 533px;
}

.menu__item {
  margin-top: 1px;
  margin-right: 4.15%;
  font-size: 16px;
  line-height: 22px;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: #122659;
}

.header__logo svg {
  display: block;
}

.logo {
  border-radius: 5px;
  transition: background-color 0.4s, opacity 0.4s, box-shadow 0.4s;
}

.logo:focus {
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: 0 0 0 2px rgba(255, 215, 135, 0.70);
}

.logo:active {
  opacity: 0.5;
}

.header__contacts {
  min-width: 192px;
  margin-left: auto;
  margin-right: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.header__contact {
  text-decoration: none;
  color: #122659;
}


.header.fixed {
  background-color: #FFD787;
  position: fixed;
  transform: translateY(100px);
}


.header__contact-icon {
  margin-right: 5px;
}

.main-block-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../images/main-block/photo-boy-background-desktop.png");
  background-size: cover;
  min-height: 512px;
}

.main-block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 71.01%;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1440px;

}

.main-block::before,
.main-block::after {
  position: absolute;
  content: "";
}

.main-block::before {
  width: 106px;
  height: 84px;
  background-image: url("../images/main-block/decorate/decorate-car.svg");
  background-size: cover;
  top: -73px;
  left: -135px;
}

.main-block::after {
  width: 91px;
  height: 62px;
  background-image: url("../images/main-block/decorate/decorate-cloud.svg");
  top: -45px;
  right: -116px;
}

.main-block__header {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 42px;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 2px;
  width: 39.17%;
  min-width: 380px;
}

.main-block__subtitle {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 19px;
  width: 39.17%;
  min-width: 380px;
}

.main-block__text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  width: 49.17%;
  min-width: 380px;
  margin-bottom: 38px;
}


.process {
  margin-top: 118px;
}

.process__wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 71.01%;
  min-width: 970px;
  max-width: 1440px;
}

.process__wrapper::before,
.process__wrapper::after {
  position: absolute;
  content: "";
}

.process__wrapper::before {
  width: 108px;
  height: 141px;
  background-image: url("../images/process/decorate/decorate-girl.svg");
  background-size: cover;
  top: 111px;
  left: -174px;
}

.process__wrapper::after {
  width: 135px;
  height: 68px;
  background-image: url("../images/process/decorate/decorate-rocket.svg");
  top: -56px;
  right: -42px;
}

.process__header {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 61px;
  width: 100%;
}

.process__text-block {
  width: 42.78%;
  margin-right: 8.75%;
}

.process__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 17px;
}

.process__subtitle--video {
  margin-bottom: 20px;
}

.process__text {
  font-size: 16px;
  line-height: 23px;
}

.process__text p {
  margin-top: 0;
  margin-bottom: 12px;
}

.process__second-paragrah {
  display: none;
}

.process__video {
  background-image: url('../images/process/video-desktop1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  max-width: 431px;
  height: 231px;
  overflow: hidden;
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.4s;
}

.process__video::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  inset: 0;
  transition: background-color 0.4s;
  ;
}

.process__video:active::after {
  transform: scale(0.6);
}

.process__video::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 40px;
  border-top-width: 40px;
  border-left: 85px solid #fff;
  transition: transform 0.4s;
}

.process__video:focus::before {
  background: rgba(0, 0, 0, 0.30);
  box-shadow: 0 0 0 3px rgba(253, 250, 245, 0.5);
}

.process__video:active::before {
  background-color: rgba(0, 0, 0, 0.45);
}

.types {
  margin-top: 142px;
  margin-left: auto;
  margin-right: auto;
  width: 71.01%;
  min-width: 970px;
  max-width: 1440px;
}

.types__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.types__list::before {
  position: absolute;
  content: "";
  width: 332px;
  height: 381px;
  top: -8px;
  left: 50%;
  background-image: url("../images/types/girl-desktop.png");
  transform: translateX(-50%);
  z-index: 2;
}

.types__item {
  position: relative;
  width: 50%;
  padding-top: 45px;
  padding-right: 160px;
  margin-bottom: 129px;
}

.types__item:nth-of-type(even) {
  padding-top: 0px;
  padding-left: 197px;
  padding-right: 35px;
}

.types__item--second {
  padding-bottom: 45px;
}

.types__item--fourth {
  margin-top: -26px;
  padding-bottom: 60px;
}

.types__item::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
}

.types__item--first::before {
  width: 182px;
  height: 61px;
  top: -30px;
  right: 85px;
  background-image: url("../images/types/decorate/decorate-arrow-left-1.svg");
}

.types__item--second::before {
  width: 140px;
  height: 105px;
  bottom: -66px;
  left: 150px;
  background-image: url("../images/types/decorate/decorate-arrow-right-1.svg");
}

.types__item--third::before {
  width: 130px;
  height: 118px;
  top: -95px;
  right: 167px;
  background-image: url("../images/types/decorate/decorate-arrow-left-2.svg");
}

.types__item--fourth::before {
  width: 153px;
  height: 87px;
  bottom: 11px;
  left: 55px;
  background-image: url("../images/types/decorate/decorate-arrow-right-2.svg");
}

.types__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 8px;
}

.types__text {
  font-size: 16px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 0;
}

.types__br-third-tabel {
  display: none;
}

.our-groups {
  margin-top: -5px;
  background-image: url("../images/our-groups/background-desktop.svg");
  background-size: 100%;
  min-height: 803px;
  padding-bottom: 70px;
}

.our-groups__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 170px;
  padding-left: 3px;
  width: 71.44%;
  min-width: 976px;
  max-width: 1440px;
}

.our-groups__wrapper::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 58px;
  top: 113px;
  left: -61px;
  background-image: url("../images/our-groups/decorate/star.svg");
}

.our-groups__header-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.our-groups__header {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.our-groups__subtitle {
  width: 30.9%;
  font-size: 16px;
  line-height: 23px;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0;
}

.our-groups__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 52px;
  margin-bottom: 0;
}

.our-groups__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30.42%;
  min-width: 296px;
  min-height: 321px;
  margin-right: 4.21%;
  margin-bottom: 30px;
  border-radius: 12px;
  border: 3px solid #8dd9e5;
}

.our-groups__item:nth-of-type(3n) {
  margin-right: 0;
}

.our-groups__item--yellow {
  border-color: #ffd787;
}

.button--blue {
  background-color: #8dd9e5;
}

.button--pink {
  background-color: #feb9cc;
}

.our-groups__article {
  text-align: center;
}

.our-groups__article-header {
  margin-top: 41px;
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.our-groups__text-list {
  list-style: none;
  padding-left: 0;
}

.our-groups__text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 8px;
}

.our-groups__price {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.our-groups__price span {
  font-size: 16px;
  line-height: 22px;
}

.teachers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 115px;
  padding-bottom: 60px;
}

.teachers__header-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.teachers::before,
.teachers::after {
  position: absolute;
  content: "";
}

.teachers::before {
  width: 58px;
  height: 97px;
  top: -1px;
  right: -86px;
  background-image: url("../images/teachers/decorate/house.svg");
}

.teachers::after {
  width: 44px;
  height: 132px;
  bottom: 5px;
  left: -130px;
  background-image: url("../images/teachers/decorate/pencil.svg");
}

.teachers__header {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.teachers__subtitle {
  font-size: 16px;
  line-height: 23px;
  width: 36.1%;
  margin-left: auto;
  margin-right: 3px;
  margin-top: 8px;
  margin-bottom: 0;
}

.teachers__subtitle br {
  display: none;
}

.teachers__list {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.teachers__item {
  width: 220px;
  margin-right: 30px;
  text-align: center;
}

.teachers__item-img {
  border-radius: 12px;
}

.teachers__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 0;
}

.teachers__country {
  font-size: 16px;
  line-height: 23px;
  color: #677085;
  margin-top: 3px;
  margin-bottom: 0;
}

.teachers__prev,
.teachers__next {
  bottom: 3px;
}

.slick-prev {
  left: 45.5%;
}

.slick-next {
  right: 45.5%;
}


.slider {
  position: relative;
}

.slider__wrapper {
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-left: 15px;
  margin-right: -15px;
}

.slick-prev,
.slick-next {
  cursor: pointer;
  position: absolute;
  user-select: none;
  border: none;
  transform: translateY(300px);
  background-color: transparent;
}

.slider__list {
  display: flex;
  width: 100%;
}

.slider__item {
  transition: 0.3s ease-in;
}

.banner {
  position: relative;
  min-height: 453px;
  margin-top: 121px;
  padding-bottom: 50px;
}

.banner svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner__background-mobile,
.banner__background-mobile01 {
  display: none;
}

.banner__wrapper {
  position: relative;
  width: 71.44%;
  min-width: 976px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  max-width: 1440px;
}

.banner__wrapper::before,
.banner__wrapper::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.banner__wrapper::before {
  width: 185px;
  height: 160px;
  top: 90px;
  left: -50px;
  background-image: url("../images/banner/decorate/rainbow.svg");
}

.banner__wrapper::after {
  width: 118px;
  height: 133px;
  top: 150px;
  right: 52px;
  background-image: url("../images/banner/decorate/boy.svg");
}

.banner__header {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.banner__header br {
  display: none;
}

.banner__text {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  width: 39.95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 35px;
  color: #ffffff;
}

.banner__button {
  margin-left: auto;
  margin-right: auto;
}

.banner__button:focus {
  color: rgba(18, 38, 89, 1);
  box-shadow: 0 0 0 2px rgba(254, 185, 204, 0.7);
  background-color: rgba(253, 250, 245, 1);
}

.banner__button:active {
  color: rgba(255, 215, 135, 1);
  background-color: rgba(253, 250, 245, 1);
  box-shadow: none;
  border: none;
}

.map {
  overflow: hidden;
}

.map__wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  height: 611px;
}

.contacts {
  position: relative;
  min-height: 611px;
  margin-top: 200px;
}

.contacts__text-wrapper {
  position: absolute;
  left: 14.5%;
  top: -70px;
  width: 413px;
  min-height: 611px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f7fafc;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  z-index: 10;
}

.contacts__header {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 35px;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}

.contacts__item {
  margin-left: 10px;
  margin-bottom: 23px;
}

.contacts__item a {
  text-decoration: none;
  color: #122659;
}

.contacts__subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 23px;
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.contacts__social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 5px;
}

.contacts__social-item {
  list-style-type: none;
  margin-right: 15px;
}

.animation-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid transparent;
  text-decoration: transparent;
  transition: box-shadow 0.3s, background-color 0.3;
}

.animation-svg:focus {
  box-shadow: 0px 0px 0px 2px rgba(255, 215, 135, 1);
  background-color: rgb(255, 242, 237);
}

.animation-svg:active {
  background-color: rgb(255, 215, 135, 1);
}

.contacts__social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
}

.contacts__social-item svg {
  display: block;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 36px;
  width: 71.44%;
  min-width: 976px;
  max-width: 1440px;
}

.footer p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer a {
  text-decoration: none;
  color: #122659;
}

@media (hover: hover) {
  .button:hover {
    color: rgba(254, 185, 204, 1);
    background-color: rgba(254, 185, 204, 0.10);
    box-shadow: 0 5px 12px 0 rgba(88, 121, 232, 0.20);
    ;
  }

  .animation-svg:hover {
    background-color: rgba(255, 215, 135, 1);
  }

  .animation:hover {
    color: rgba(18, 38, 89);
    text-decoration: none;
  }

  .logo:hover {
    opacity: 0.8;
  }

  .banner__button:hover {
    color: rgba(255, 215, 135, 1);
    box-shadow: 0 0 0 2px rgba(254, 185, 204, 0.7);
    background-color: rgba(253, 250, 245, 1);
  }
}

@media (max-height: 576px) {
  .logo {
    width: 120px;
    height: 40px;
  }
}


@media (max-width: 1200px) {
  .button--card {
    width: 152px;
    height: 44px;
    padding-top: 11px;
  }

  .header__block {
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 98.54%;
    min-width: 680px;
  }

  .header__toggle {
    display: none;
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-right: 3.68%;
    margin-top: 5px;
    width: 25px;
    height: 14px;
  }

  .closed-menu-js {
    position: static;
    overflow-y: auto;
  }

  .opened-menu-js {
    position: fixed;
    overflow-y: hidden;
  }

  body.closed-menu-js .header__toggle {
    display: block;
  }

  .header__toggle--close {
    display: block;
    height: 18px;
  }

  body.closed-menu-js .header__toggle--close {
    display: none;
  }

  .header__toggle svg {
    display: block;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__logo svg {
    width: 132px;
    height: 27px;
  }

  .header__wrapper {
    flex-direction: column;
    width: 100%;
    min-width: 680px;
    padding-left: 1px;
  }

  body.closed-menu-js .header__wrapper {
    flex-direction: row;
    padding-left: 0;
    width: 73.2%;
    min-width: 497px;
  }

  .menu {
    margin-top: 31px;
    margin-bottom: 4px;
    flex-direction: column;
  }

  body.closed-menu-js .menu {
    display: none;
  }

  .menu__item {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 31px;
    font-weight: 500;
  }

  .menu__list {
    display: block;
  }

  .header__contacts {
    margin-left: 0;
    margin-top: 4px;
    margin-right: 4px;
  }

  body.closed-menu-js .header__contacts {
    margin-left: auto;
  }

  .main-block-wrapper {
    background-image: url("../images/main-block/photo-boy-background-desktop02.png");
    min-height: 578px;
    background-size: cover;
    align-items: center;
    position: relative;
  }

  .main-block {
    width: 88.28%;
  }

  .main-block::before {
    width: 58px;
    height: 46px;
    top: -34px;
    left: -35px;
  }

  .main-block::after {
    display: none;
  }

  .main-block__header {
    margin-bottom: 1px;
  }

  .main-block__subtitle {
    margin-bottom: 20px;
  }

  .process {
    margin-top: 98px;
  }

  .process__header {
    margin-bottom: 31px;
  }

  .process__wrapper {
    width: 88.28%;
    min-width: 678px;
  }

  .process__wrapper::before {
    display: none;
  }

  .process__wrapper::after {
    width: 101px;
    height: 50px;
    top: -39px;
    right: 0;
    background-size: cover;
  }

  .process__text-block {
    width: 41.74%;
    margin-right: 6.04%;
  }

  .process__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 19px;
    width: 75%;
  }

  .process__subtitle--video {
    margin-bottom: 23px;
  }

  .process__text {
    font-size: 14px;
    line-height: 20px;
  }

  .process__text p {
    margin-bottom: 12px;
  }

  .process__first-paragrah {
    display: none;
  }

  .process__second-paragrah {
    display: block;
  }

  .process_video-block {
    width: 52.21%;
    min-width: 354px;
  }

  .process__video {
    width: 354px;
    height: 262px;
  }

  .process__video-player {
    margin-top: 0;
    width: 354px;
    height: 270px;
  }

  .types {
    margin-top: 107px;
    width: 88.28%;
    min-width: 678px;
  }

  .types__list::before {
    width: 225px;
    height: 257px;
    top: 35px;
    transform: translateX(-40.5%);
    background-size: cover;
  }

  .types__item {
    width: 50%;
    padding-top: 35px;
    padding-right: 40px;
    margin-bottom: 77px;
  }

  .types__item:nth-of-type(even) {
    padding-top: 0;
    padding-left: 124px;
    padding-right: 0;
  }

  .types__item:nth-of-type(odd) .types__text {
    width: 90%
  }

  .types__item--fourth {
    margin-top: -22px;
  }

  .types__item--first::before {
    width: 135px;
    height: 45px;
    top: -6px;
    right: 8px;
    background-image: url("../images/types/decorate/decorate-arrow-left-1-mobile.svg");
  }

  .types__item--second::before {
    width: 64px;
    height: 49px;
    left: 131px;
    bottom: -7px;
  }

  .types__item--third::before {
    display: none;
  }

  .types__item--fourth::before {
    width: 110px;
    height: 50px;
    bottom: 28px;
    left: 45px;
  }

  .types__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
  }

  .types__text {
    font-size: 14px;
    line-height: 20px;
  }

  .types__br-third-tabel {
    display: block;
  }

  .our-groups {
    margin-top: 23px;
    background-image: url("../images/our-groups/background-mobile.svg");
    min-height: 614px;
  }

  .our-groups__wrapper {
    padding-top: 100px;
    padding-left: 0;
    width: 88.28%;
    min-width: 678px;
  }

  .our-groups__wrapper::before {
    width: 39px;
    height: 40px;
    top: 59px;
    left: -20px;
    background-size: cover;
  }

  .our-groups__subtitle {
    width: 38.49%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 7px;
  }

  .our-groups__list {
    width: 100%;
    margin-top: 43px;
  }

  .our-groups__item {
    width: 30.38%;
    min-width: 206px;
    min-height: 295px;
    margin-right: 4.42%;
  }

  .our-groups__article-header {
    margin-top: 37px;
    margin-bottom: 22px;
  }

  .our-groups__price {
    margin-bottom: 27px;
  }

  .teachers {
    width: 778px;
    margin-top: 105px;
    padding-bottom: 60px;
  }

  .teachers::before {
    display: none;
  }

  .teachers::after {
    display: none;
  }

  .teachers__header {
    line-height: 41px;
    width: 30%;
  }

  .teachers__subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 38%;
    margin-right: 13px;
    margin-top: 3px;
  }

  .teachers__subtitle br {
    display: block;
  }

  .teachers__list {
    margin-top: 45px;
  }

  .teachers__item {
    width: 206px;
    margin-right: 0px;
    text-align: center;
  }

  .teachers__item-img {
    width: 290px;
  }

  .teachers__name {
    font-size: 18px;
    line-height: 25px;
    margin-top: 11px;
  }

  .teachers__country {
    font-size: 14px;
    line-height: 20px;
    margin-top: 1px;
  }

  .teachers__prev,
  .teachers__next {
    bottom: 13px;
    width: 20px;
  }

  .teachers__prev {
    left: 46.7%;
  }

  .teachers__next {
    right: 46%;
  }

  .banner {
    min-height: 450px;
    margin-top: 93px;
  }

  .banner__background-desktop {
    display: none;
  }

  .banner__background-mobile {
    display: block;
  }

  .banner__wrapper {
    width: 88.28%;
    min-width: 678px;
    padding-top: 110px;
  }

  .banner__wrapper::before {
    width: 120px;
    height: 110px;
    top: 202px;
    left: -27px;
    background-size: contain;
  }

  .banner__wrapper::after {
    width: 78px;
    height: 89px;
    top: 166px;
    right: 3px;
    background-size: contain;
  }

  .banner__header {
    width: 82%;
    margin-bottom: 16px;
    padding-left: 13px;
  }

  .banner__text {
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    margin-bottom: 29px;
    padding-left: 13px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    min-height: 906px;
    margin-top: 110px;
  }

  .contacts__text-wrapper {
    position: static;
    width: 100%;
    min-height: 468px;
    padding-left: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 0;
    border-radius: 0;
  }

  .contacts__contacts-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 185px;
  }

  .contacts__header {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 5.85%;
  }

  .contacts__item {
    width: 36.32%;
    margin-left: 5.85%;
  }

  .contacts__item--mail {
    padding-top: 23px;
  }

  .contacts__item--social {
    margin-top: -2px;
  }

  .contacts__social {
    padding-top: 5px;
  }

  .footer {
    padding-top: 38px;
    padding-bottom: 33px;
    width: 88.28%;
    min-width: 678px;
  }

  .footer p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 950px) {
  .main-block-wrapper {
  background-image: url("../images/main-block/photo-boy-background-desktop03.png");
  min-height: 350px;
  background-size: cover;
}
}

  @media (max-width: 768px) {
    body.lock {
      overflow-y: hidden;
    }

    .header__block {
      width: 90.62%;
      min-width: 290px;
      padding-top: 30px;
      padding-bottom: 27px;
    }

    .header__toggle {
      margin-top: 1px;
      margin-right: 14px;
    }

    .header__logo svg {
      width: 111px;
      height: 18px;
    }

    .header__wrapper {
      width: 100%;
      min-width: 290px;
      padding-left: 0;
      margin-bottom: 4px;
    }

    body.closed-menu-js .header__wrapper {
      display: none;
    }

    .header__toggle--close svg {
      width: 14px;
      height: 14px;
    }

    .menu {
      margin-top: 28px;
      margin-bottom: 10px;
      width: 100%;
      min-width: 290px;
    }

    .menu__item {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 13px;
    }

    .header__contacts {
      margin-top: 0;
    }

    .main-block-wrapper {
      background-image: url("../images/main-block/photo-boy-background-mobile.png");
      min-height: 441px;
    }

    .main-block {
      width: 84.37%;
    }

    .main-block::before {
      width: 48px;
      height: 38px;
      top: 14px;
      left: -22px;
    }

    .main-block__header {
      font-size: 28px;
      line-height: 32px;
      min-width: 265px;
    }

    .main-block__subtitle {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
      min-width: 265px;
    }

    .main-block__text {
      font-size: 14px;
      line-height: 20px;
      min-width: 226px;
      margin-bottom: 24px;
    }

    .button {
      width: 130px;
      height: 40px;
      font-size: 14px;
      line-height: 20px;
      padding-top: 10px;
    }

    .button--card {
      width: 152px;
      height: 44px;
      padding-top: 12px;
      font-size: 16px;
    }

    .process {
      margin-top: 55px;
    }

    .process__wrapper {
      width: 90.62%;
      min-width: 290px;
    }

    .process__wrapper::after {
      width: 67px;
      height: 34px;
      top: -40px;
    }

    .process__header {
      font-size: 22px;
      line-height: 31px;
      margin-bottom: 28px;
    }

    .process__text-block {
      width: 100%;
      margin-right: 0;
      margin-bottom: 14px;
    }

    .process__second-paragrah {
      display: block;
    }

    .process_video-block {
      width: 100%;
      min-width: 290px;
    }

    .process__subtitle {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 15px;
      width: 70%;
    }

    .process__subtitle--video {
      width: 80%;
      margin-bottom: 19px;
    }

    .process__video {
      margin-left: auto;
      margin-right: auto;
      width: 290px;
      height: 262px;
    }

    .process__video-player {
      width: 290px;
      height: 262px;
    }

    .types {
      margin-top: 20px;
      width: 90.62%;
      min-width: 290px;
      max-width: 380px;
    }

    .types__list {
      flex-direction: column;
    }

    .types__list::before {
      width: 184px;
      height: 210px;
      bottom: 38.1%;
      top: auto;
      transform: translateX(-50%);
    }

    .types__item {
      width: 89.65%;
      padding-top: 35px;
      padding-right: 0;
      margin-bottom: 24px;
    }

    .types__item:last-of-type {
      margin-bottom: 10px;
      padding-bottom: 14px;
    }

    .types__item:nth-of-type(even) {
      padding-left: 45px;
      margin-left: auto;
    }

    .types__item--second {
      padding-bottom: 20px;
      margin-bottom: 205px;
    }

    .types__item--fourth {
      margin-top: 0;
    }

    .types__item--first::before {
      width: 66px;
      height: 174px;
      top: auto;
      bottom: -182px;
      left: 6px;
      background-image: url("../images/types/decorate/decorate-arrow-up.svg");
    }

    .types__item--second::before {
      width: 81px;
      height: 71px;
      bottom: -67px;
      right: -2px;
      left: auto;
      transform: rotate(-45deg);
      background-size: contain;
    }

    .types__item--third::before {
      display: block;
      width: 57px;
      height: 72px;
      top: -48px;
      left: 7px;
      right: auto;
      background-image: url("../images/types/decorate/decorate-arrow-down-2.svg");
    }

    .types__item--fourth::before {
      width: 71px;
      height: 200px;
      top: -205px;
      left: auto;
      right: -9px;
      background-image: url("../images/types/decorate/decorate-arrow-down.svg");
    }

    .types__subtitle {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 4px;
    }

    .types__subtitle {
      font-size: 16px;
      line-height: 22px;
    }

    .types__text {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
    }

    .types__item:nth-of-type(odd) .types__text {
      width: 100%
    }

    .our-groups {
      margin-top: 30px;
      background-color: #f7fAfc;
      background-image: none;
      min-height: 1200px;
      padding-bottom: 30px;
    }

    .our-groups__wrapper {
      padding-top: 54px;
      padding-left: 0;
      width: 90.62%;
      min-width: 290px;
    }

    .our-groups__wrapper::before {
      top: 0;
      left: -20px;
    }

    .our-groups__header {
      font-size: 22px;
      line-height: 31px;
      width: 100%;
    }

    .our-groups__subtitle {
      width: 90%;
      margin-top: 17px;
      margin-left: 0;
    }

    .our-groups__list {
      margin-top: 33px;
      flex-direction: column;
    }

    .our-groups__item {
      width: 100%;
      min-width: 290px;
      max-width: 333px;
      min-height: 295px;
      margin-left: auto;
      margin-right: auto;
    }

    .our-groups__item:nth-of-type(3n) {
      margin-right: auto;
    }

    .our-groups__price {
      margin-bottom: 28px;
    }

    .teachers {
      width: 290px;
      margin-top: 56px;
      padding-bottom: 50px;
    }

    .teachers::before {
      display: block;
      width: 30px;
      height: 49px;
      top: -57px;
      right: 0;
      background-size: cover;
    }

    .teachers__header {
      font-size: 22px;
      line-height: 25px;
      width: 100%;
      margin-left: 0;
      margin-bottom: 18px;
    }

    .teachers__subtitle {
      width: 100%;
      margin-right: 13px;
      margin-top: 3px;
    }

    .teachers__list {
      margin-top: 35px;
    }

    .teachers__item {
      width: 290px;
      margin-right: 5px;
    }

    .teachers__name {
      font-size: 16px;
      line-height: 22px;
      margin-top: 20px;
    }

    .teachers__country {
      margin-top: 0;
      padding-right: 8px;
    }

    .teachers__prev,
    .teachers__next {
      bottom: 76px;
      width: 13px;
    }

    .teachers__prev {
      left: 0;
    }

    .teachers__next {
      right: 0;
    }

    .slider__wrapper {
      margin-left: 0;
      margin-right: 0;
    }

    .slick-prev {
      left: 0.5%;
    }

    .slick-next {
      right: -0.5%;
    }

    .banner {
      min-height: 384px;
      margin-top: 2px;
    }

    .banner__background-mobile {
      display: block;
      width: 101%;
    }

    .banner__background-mobile01 {
      display: none;
    }

    .banner__wrapper {
      width: 75%;
      min-width: 240px;
      padding-top: 67px;
    }

    .banner__wrapper::before {
      display: none;
    }

    .banner__wrapper::after {
      display: none;
    }

    .banner__header {
      font-size: 22px;
      line-height: 28px;
      width: 90%;
      margin-top: 0;
      margin-bottom: 16px;
      padding-left: 0;
    }

    .banner__header br {
      display: block;
    }

    .banner__text {
      width: 100%;
      max-width: 500px;
      margin-bottom: 25px;
      padding-left: 0;
    }

    .banner__text br {
      display: none;
    }

    .banner__button {
      font-size: 16px;
      line-height: 22px;
    }

    .contacts {
      min-height: 746px;
      margin-top: 47px;
    }

    .contacts__text-wrapper {
      min-height: 485px;
      padding-top: 70px;
      padding-bottom: 45px;
    }

    .contacts__contacts-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      height: auto;
    }

    .contacts__header {
      font-size: 22px;
      line-height: 27px;
      margin-left: 4.7%;
      margin-bottom: 20px;
    }

    .contacts__item {
      width: 90%;
      margin-left: 4.7%;
      margin-bottom: 15px;
    }

    .contacts__item--mail {
      padding-top: 0;
    }

    .contacts__item--social {
      margin-top: 0;
    }

    .contacts__subtitle {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
    }

    .contacts__text {
      font-size: 16px;
      line-height: 22px;
    }

    .footer {
      padding-top: 36px;
      padding-bottom: 21px;
      width: 90.62%;
      min-width: 290px;
    }

    .footer p {
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 12px;
      margin-right: 15px;
    }

    .footer svg {
      width: 9px;
      height: 9px;
    }
  }

  @media (max-width: 680px) {
    .main-block-wrapper {
      background-image: url("../images/main-block/white-background-mobile.png");
      background-size: cover;
      min-height: 304px;
    }
  }