.visually-hidden {
  position: absolute;
  width: 1px;
  min-width: initial;
  height: 1px;
  min-height: initial;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  word-wrap: normal;
  min-width: 320px;
  color: #122659;
  background-color: #fefcfa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.button {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 166px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-radius: 35px;
  padding-top: 15px;
  color: #122659;
  background-color: #ffd787;
}

.header {
  display: flex;
  justify-content: center;
}

.header__block {
  display: flex;
  padding-top: 40px;
  padding-bottom: 38px;
  width: 85.65%;
  min-width: 1170px;
  max-width: 1440px;
}

.header__btn {
  display: none;
}

.header__logo {
  margin-right: 4.87%;
}

.header__logo svg {
  display: block;
}

.header__wrapper {
  display: flex;
  width: 82.9%;
  min-width: 970px;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  width: 45.04%;
  min-width: 533px;
}

.header__item {
  margin-top: 1px;
  margin-right: 4.15%;
  font-size: 16px;
  line-height: 22px;
}

.header__item a {
  text-decoration: none;
  color: #122659;
}

.header__contacts {
  min-width: 192px;
  margin-left: auto;
  margin-right: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.header__contact {
  text-decoration: none;
  color: #122659;
}

.header__contact-icon {
  margin-right: 5px;
}

.main-block-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../images/main-block/photo-boy-background-desktop.png");
  background-size: cover;
  min-height: 573px;
}

.main-block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 71.01%;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1440px;
}

.main-block::before,
.main-block::after {
  position: absolute;
  content: "";
}

.main-block::before {
  width: 106px;
  height: 84px;
  background-image: url("../images/main-block/decorate/decorate-car.svg");
  background-size: cover;
  top: -73px;
  left: -135px;
}

.main-block::after {
  width: 91px;
  height: 62px;
  background-image: url("../images/main-block/decorate/decorate-cloud.svg");
  top: -45px;
  right: -116px;
}

.main-block__header {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 42px;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 2px;
  width: 39.17%;
  min-width: 380px;
}

.main-block__subtitle {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 19px;
  width: 39.17%;
  min-width: 380px;
}

.main-block__text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  width: 39.17%;
  min-width: 380px;
  margin-bottom: 38px;
}

.process {
  margin-top: 118px;
}

.process__wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 71.01%;
  min-width: 970px;
  max-width: 1440px;
}

.process__wrapper::before,
.process__wrapper::after {
  position: absolute;
  content: "";
}

.process__wrapper::before {
  width: 108px;
  height: 141px;
  background-image: url("../images/process/decorate/decorate-girl.svg");
  background-size: cover;
  top: 111px;
  left: -174px;
}

.process__wrapper::after {
  width: 135px;
  height: 68px;
  background-image: url("../images/process/decorate/decorate-rocket.svg");
  top: -56px;
  right: -42px;
}

.process__header {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 61px;
  width: 100%;
}

.process__text-block {
  width: 42.78%;
  margin-right: 8.75%;
}

.process__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 17px;
}

.process__subtitle--video {
  margin-bottom: 20px;
}

.process__text {
  font-size: 16px;
  line-height: 23px;
}

.process__text p {
  margin-top: 0;
  margin-bottom: 12px;
}

.process__second-paragrah {
  display: none;
}

.process__video {
  position: relative;
  border-radius: 12px;
  width: 431px;
  height: 231px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.types {
  margin-top: 142px;
  margin-left: auto;
  margin-right: auto;
  width: 71.01%;
  min-width: 970px;
  max-width: 1440px;
}

.types__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.types__list::before {
  position: absolute;
  content: "";
  width: 332px;
  height: 381px;
  top: -8px;
  left: 50%;
  background-image: url("../images/types/girl-desktop.png");
  transform: translateX(-50%);
  z-index: 2;
}

.types__item {
  position: relative;
  width: 50%;
  padding-top: 45px;
  padding-right: 160px;
  margin-bottom: 129px;
}

.types__item:nth-of-type(even) {
  padding-top: 0px;
  padding-left: 197px;
  padding-right: 35px;
}

.types__item--second {
  padding-bottom: 45px;
}

.types__item--fourth {
  margin-top: -26px;
  padding-bottom: 60px;
}

.types__item::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
}

.types__item--first::before {
  width: 182px;
  height: 61px;
  top: -30px;
  right: 85px;
  background-image: url("../images/types/decorate/arrow-left-1.svg");
}

.types__item--second::before {
  width: 140px;
  height: 105px;
  bottom: -66px;
  left: 150px;
  background-image: url("../images/types/decorate/arrow-right-1.svg");
}

.types__item--third::before {
  width: 130px;
  height: 118px;
  top: -95px;
  right: 167px;
  background-image: url("../images/types/decorate/arrow-left-3.svg");
}

.types__item--fourth::before {
  width: 159px;
  height: 62px;
  bottom: 11px;
  left: 55px;
  background-image: url("../images/types/decorate/arrow-right-2.svg");
}

.types__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 8px;
}

.types__text {
  font-size: 16px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 0;
}

.types__br-third-tabel {
  display: none;
}

.our-groups {
  margin-top: -5px;
  background-image: url("../images/our-groups/background-desktop.svg");
  background-size: 100%;
  min-height: 803px;
  padding-bottom: 70px;
}

.our-groups__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 170px;
  padding-left: 3px;
  width: 71.44%;
  min-width: 976px;
  max-width: 1440px;
}

.our-groups__wrapper::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 58px;
  top: 113px;
  left: -61px;
  background-image: url("../images/our-groups/decorate/star.svg");
}

.our-groups__header-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.our-groups__header {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.our-groups__subtitle {
  width: 30.9%;
  font-size: 16px;
  line-height: 23px;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0;
}

.our-groups__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 52px;
  margin-bottom: 0;
}

.our-groups__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30.42%;
  min-width: 296px;
  min-height: 321px;
  margin-right: 4.21%;
  margin-bottom: 30px;
  border-radius: 12px;
  border: 3px solid #8dd9e5;
}

.our-groups__item:nth-of-type(3n) {
  margin-right: 0;
}

.our-groups__item--yellow {
  border-color: #ffd787;
}

.button--blue {
  background-color: #8dd9e5;
}

.button--pink {
  background-color: #feb9cc;
}

.our-groups__article {
  text-align: center;
}

.our-groups__article-header {
  margin-top: 41px;
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.our-groups__text-list {
  list-style: none;
  padding-left: 0;
}

.our-groups__text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 8px;
}

.our-groups__price {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.our-groups__price span {
  font-size: 16px;
  line-height: 22px;
}


.teachers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 115px;
  padding-bottom: 60px;
}

.teachers__header-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.teachers::before,
.teachers::after {
  position: absolute;
  content: "";
}

.teachers::before {
  width: 58px;
  height: 97px;
  top: -1px;
  right: -86px;
  background-image: url("../images/teachers/decorate/house.svg");
}

.teachers::after {
  width: 44px;
  height: 132px;
  bottom: 5px;
  left: -130px;
  background-image: url("../images/teachers/decorate/pencil.svg");
}

.teachers__header {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.teachers__subtitle {
  font-size: 16px;
  line-height: 23px;
  width: 36.1%;
  margin-left: auto;
  margin-right: 3px;
  margin-top: 8px;
  margin-bottom: 0;
}

.teachers__subtitle br {
  display: none;
}

.teachers__list {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.teachers__item {
  width: 220px;
  margin-right: 30px;
  text-align: center;
}

.teachers__item img {
  border-radius: 12px;
}

.teachers__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 0;
}

.teachers__country {
  font-size: 16px;
  line-height: 23px;
  color: #677085;
  margin-top: 3px;
  margin-bottom: 0;
}

.teachers__prev,
.teachers__next {
  bottom: 3px;
}

.teachers__prev {
  left: 47.5%;
}

.teachers__next {
  right: 47.5%;
}

.slider {
  position: relative;
}

.slider__wrapper {
  overflow: hidden;
  width: 100%;
  margin-left: 15px;
  margin-right: -15px;
}

.slider__prev,
.slider__next {
  cursor: pointer;
  position: absolute;
  user-select: none;
}

.slider__list {
  display: flex;
  width: 100%;
}

.slider__item {
  transition: 0.3s ease-in;
}

.banner {
  position: relative;
  min-height: 453px;
  margin-top: 121px;
  padding-bottom: 150px;
  background-image: url("../images/banner/background-banner-desktop.svg");
  background-size: 100%;
}

.banner__wrapper {
  position: relative;
  width: 71.44%;
  min-width: 976px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  max-width: 1440px;
}

.banner__wrapper::before,
.banner__wrapper::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.banner__wrapper::before {
  width: 185px;
  height: 160px;
  top: 90px;
  left: -50px;
  background-image: url("../images/banner/decorate/rainbow.svg");
}

.banner__wrapper::after {
  width: 118px;
  height: 133px;
  top: 150px;
  right: 52px;
  background-image: url("../images/banner/decorate/boy.svg");
}

.banner__header {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.banner__header br {
  display: none;
}

.banner__text {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  width: 39.95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 35px;
  color: #ffffff;
}

.banner__button {
  margin-left: auto;
  margin-right: auto;
}

.map {
  overflow: hidden;
}

.map__wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  height: 611px;
}

.contacts {
  position: relative;
  min-height: 611px;
  margin-top: 200px;
}

.contacts__text-wrapper {
  position: absolute;
  left: 14.5%;
  top: -70px;
  width: 413px;
  min-height: 611px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f7fafc;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  z-index: 10;
}

.contacts__header {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 35px;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}

.contacts__item {
  margin-left: 10px;
  margin-bottom: 23px;
}

.contacts__item a {
  text-decoration: none;
  color: #122659;
}

.contacts__subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 23px;
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.contacts__social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 5px;
}

.contacts__social-item {
  margin-right: 15px;
  list-style-type: none;
}

.contacts__social-item svg {
  display: block;
}

.contacts__social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 36px;
  width: 71.44%;
  min-width: 976px;
  max-width: 1440px;
}

.footer p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer a {
  text-decoration: none;
  color: #122659;
}